footer
  ul 
    li  
      a(href="https://linkedin.com/peterjweb" target="_blank") Linkedin
      a(href="https://github.com/peterjweb" target="_blank") Github
      a(href="http://codepen.io/peterjweb/" target="_blank") Codepen
  p  Copyright PeterJWeb 2017    