header 
  nav.nav-position.nav-position-full.flex-container
    a(href="/" class="logo")  PeterJWeb
    ul(class="flex-nav")
      li
        a(href="#about")  About
        a(href="#portfolio")  Portfolio
        a(href="#skills")  Skills
        a(href="#contact")  Contact
    a(href="#" class="cta") Available For Hire