extends layout

block content
  div(id="home-page")
    include header
    main
      section(id="landing")
      section(id="about")
      section(id="portfolio")
      section(id="skills")
      section(id="contact")
  include footer

